In [3]:
import pandas as pd

df=pd.read_csv("all-except-activity.csv")

df.head()

,_id,Board,Brand,Device,Emotion,FilterKey,Gender,Label,Manufacturer,Model,ProductIndex,ProductName,Serial Number,UserID
0,5cac899e18ded300018d2e6b,universal7870,samsung,on7xelte,Happy/Excited,EmonX123,Male,Product Viewed,samsung,SM-G610F,1,Anex,5203e3c752a38411,k163657@nu.edu.pk
1,5cac89a018ded300018d2e6d,universal7870,samsung,on7xelte,Happy/Excited,EmonX123,Male,Buy Now,samsung,SM-G610F,1,Anex,5203e3c752a38411,k163657@nu.edu.pk
2,5cac89d118ded300018d2e6f,universal7870,samsung,on7xelte,Happy/Excited,EmonX123,Male,Product Viewed,samsung,SM-G610F,0,Nokia 8210,5203e3c752a38411,k163657@nu.edu.pk
3,5cac89d518ded300018d2e71,universal7870,samsung,on7xelte,Happy/Excited,EmonX123,Male,Added to Cart,samsung,SM-G610F,0,Nokia 8210,5203e3c752a38411,k163657@nu.edu.pk
4,5cac89d718ded300018d2e73,universal7870,samsung,on7xelte,Happy/Excited,EmonX123,Male,Buy Now,samsung,SM-G610F,0,Nokia 8210,5203e3c752a38411,k163657@nu.edu.pk

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 14 columns):
_id              369 non-null object
Board            369 non-null object
Brand            369 non-null object
Device           369 non-null object
Emotion          329 non-null object
FilterKey        369 non-null object
Gender           329 non-null object
Label            369 non-null object
Manufacturer     369 non-null object
Model            369 non-null object
ProductIndex     369 non-null int64
ProductName      369 non-null object
Serial Number    369 non-null object
UserID           329 non-null object
dtypes: int64(1), object(13)
memory usage: 40.4+ KB

In [6]:
#finding missing values and replacing them

col = df.columns
numeric_col = df._get_numeric_data().columns
cat_col = set(col) - set(numeric_col)
cat_col_list  = list(cat_col)

    
for column in cat_col_list:
    df[column] =  df[column].fillna(df[column].mode()[0])
    
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 14 columns):
_id              369 non-null object
Board            369 non-null object
Brand            369 non-null object
Device           369 non-null object
Emotion          369 non-null object
FilterKey        369 non-null object
Gender           369 non-null object
Label            369 non-null object
Manufacturer     369 non-null object
Model            369 non-null object
ProductIndex     369 non-null int64
ProductName      369 non-null object
Serial Number    369 non-null object
UserID           369 non-null object
dtypes: int64(1), object(13)
memory usage: 40.4+ KB

In [54]:
features_selection = ['UserID','Emotion','Label']
features = pd.DataFrame(df, columns = features_selection)
features.head(20)

               UserID        Emotion           Label
0   k163657@nu.edu.pk  Happy/Excited  Product Viewed
1   k163657@nu.edu.pk  Happy/Excited         Buy Now
2   k163657@nu.edu.pk  Happy/Excited  Product Viewed
3   k163657@nu.edu.pk  Happy/Excited   Added to Cart
4   k163657@nu.edu.pk  Happy/Excited         Buy Now
5   k163657@nu.edu.pk  Happy/Excited         Buy Now
6   k163657@nu.edu.pk  Happy/Excited         Buy Now
7   k163669@nu.edu.pk        Neutral  Product Viewed
8   k163669@nu.edu.pk        Neutral  Product Viewed
9   k163669@nu.edu.pk        Neutral  Product Viewed
10  k163669@nu.edu.pk        Neutral  Product Viewed
11  k163669@nu.edu.pk        Neutral   Added to Cart
12  k163669@nu.edu.pk        Neutral  Product Viewed
13  k163669@nu.edu.pk        Neutral   Added to Cart
14  k163669@nu.edu.pk        Neutral  Product Viewed
15  k163669@nu.edu.pk        Neutral   Added to Cart
16  k163668@nu.edu.pk  Happy/Excited  Product Viewed
17  k163668@nu.edu.pk  Happy/Excited   Added to Cart
18  k163668@nu.edu.pk  Happy/Excited  Product Viewed
19  k163668@nu.edu.pk  Happy/Excited   Added to Cart

In [55]:
#looking for duplicate data, invalid data or corrupt data and remove it
features.isnull().sum()

UserID     0
Emotion    0
Label      0
dtype: int64

In [56]:
#Splitting data into train and test sets
from sklearn.model_selection import train_test_split

y = features['Label']
X = features.drop('Label',1)

In [57]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
#X['Gender'] = labelencoder.fit_transform(X['Gender'])
X['UserID'] = labelencoder.fit_transform(X['UserID'])
X['Emotion'] = labelencoder.fit_transform(X['Emotion'])
y = labelencoder.fit_transform(y)

In [58]:
#splitting data into training and test
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size = 0.2, random_state = 100 )

In [59]:
# Creating the naive bayes classifier object 
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score 

model = GaussianNB()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

print ("Accuracy: ", accuracy_score(y_test,y_pred)*100)

Accuracy:  58.108108108108105